
body {
  width: 890px;
  padding: 0;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  font: 14px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #727272;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  color: #222;
  margin:0 0 20px;
}

p, ol, table, pre, dl {
  margin:0 0 20px;
}

h1, h2, h3 {
  padding-top: 60px;
  line-height:1.1;
}

h1 {
  font-size:28px;
}

h2 {
  color:#393939;
}

h3, h4, h5, h6 {
  color:#494949;
}

a {
  color:#39c;
  text-decoration:none;
}

a:hover {
  color:#069;
}

a small {
  font-size:11px;
  color:#777;
  margin-top:-0.3em;
  display:block;
}

a:hover small {
  color:#777;
}

.wrapper {
  margin: 0;
  /*padding-left: 50px;*/
  /*padding-right: 50px;*/
}

.content {
  margin: 0;
  padding-top: 20px;
  padding-bottom: 100px;
}

blockquote {
  border-left:1px solid #e5e5e5;
  margin:0;
  padding:0 0 0 20px;
  font-style:italic;
}

code, pre {
  font-family:Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, Consolas, Liberation Mono, DejaVu Sans Mono, Courier New, monospace;
  color:#333;
  font-size:12px;
}

pre {
  padding:8px 15px;
  background: #f8f8f8;
  border-radius:5px;
  border:1px solid #e5e5e5;
  overflow-x: auto;
}

table {
  width:100%;
  border-collapse:collapse;
}

th, td {
  text-align:left;
  padding:5px 10px;
  border-bottom:1px solid #e5e5e5;
}

dt {
  color: #444;
  font-weight: 700;
}

th {
  color: #444;
}

img {
  max-width:100%;
}

header {
  position: fixed;
  height: 40px;
  background: #fff;
  background: rgba(255, 255, 255, 0.9);
  width: 100%;
}

header ul {
  list-style: none;
  height: 40px;
  padding: 0;
  width: 270px;
}

header li {
  width: 89px;
  float: left;
  border-right: 1px solid #d2d2d2;
  height: 40px;
}

header ul a {
  line-height: 1;
  font-size: 11px;
  color: #999;
  display: block;
  text-align: center;
  padding-top: 6px;
  height: 40px;
}

nav {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

nav a {
  padding-right: 20px;
  color: #aaa;
}

nav .strong {
  color: #444;
  font-weight: bold;
}

strong {
  color: #222;
  font-weight: 700;
}

header ul li + li {
  width:88px;
  border-left:1px solid #fff;
}

header ul li + li + li {
  border-right:none;
  width:89px;
}

header ul a strong {
  font-size:14px;
  display:block;
  color:#222;
}

strong {
  color:#222;
  font-weight:700;
}

section {
  width:500px;
  float:right;
  padding-bottom:50px;
}

small {
  font-size:11px;
}

hr {
  border:0;
  background:#e5e5e5;
  height:1px;
  margin:0 0 20px;
}

footer {
  width:270px;
  float:left;
  position:fixed;
  bottom:50px;
  -webkit-font-smoothing:subpixel-antialiased;
}

.video {
	position: relative;
	padding-bottom: 45.454545%; /* 400:880 */
	padding-top: 0px;
	height: 0;
}

.video iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
  border-top: 5px solid #444;
  border-bottom: 5px solid #444;
}

@media print, screen and (max-width: 980px) {

  body {
    width: auto;
    padding:15px;
  }
  
  .content {
    padding-top: 20px;
  }
  
  header {
    display: none;
  }
}

@media print {
  body {
    padding:0.4in;
    font-size:12pt;
    color:#444;
  }
}
