<!DOCTYPE html>
<html>
<head>
    <style>
      button {width: 100%;}
      body {margin:0; padding:0; height: 100%;}
      html {height: 100%;}
    </style>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type=text/javascript>
            $(function() {
              $("a#workfiles-button").bind("click", function() {
                $.getJSON("/workfiles_route",
                    function(data) {
                  //do nothing
                });
                return false;
              });
            });
    </script>
    <script type=text/javascript>
            $(function() {
              $("a#create-button").bind("click", function() {
                $.getJSON("/creator_route",
                    function(data) {
                  //do nothing
                });
                return false;
              });
            });
    </script>
    <script type=text/javascript>
            $(function() {
              $("a#load-button").bind("click", function() {
                $.getJSON("/loader_route",
                    function(data) {
                  //do nothing
                });
                return false;
              });
            });
    </script>
    <script type=text/javascript>
            $(function() {
              $("a#publish-button").bind("click", function() {
                $.getJSON("/publish_route",
                    function(data) {
                  //do nothing
                });
                return false;
              });
            });
    </script>
    <script type=text/javascript>
            $(function() {
              $("a#manage-button").bind("click", function() {
                $.getJSON("/manage_route",
                    function(data) {
                  //do nothing
                });
                return false;
              });
            });
    </script>
    <script type=text/javascript>
            $(function() {
              $("a#context-button").bind("click", function() {
                $.getJSON("/context_route",
                    function(data) {
                  //do nothing
                });
                return false;
              });
            });
    </script>
</head>
<body>
  <text>Context</text>
  <a href=# id=context-button><button>Context</button></a>
  <a href=# id=workfiles-button><button>Workfiles</button></a>
  <a href=# id=create-button><button>Create...</button></a>
  <a href=# id=load-button><button>Load...</button></a>
  <a href=# id=publish-button><button>Publish...</button></a>
  <a href=# id=manage-button><button>Manage...</button></a>
</body>
</html>
